.graphDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
nav{
  max-width: 80%;
}
canvas{
  max-height: 600px;
  margin: 0 auto;
  max-width: 80%;
}


@media only screen and (max-width: 768px) {
  nav{
    max-width: 100%;
  }
}
