body {
  padding: 0;
  font-family: sans-serif;
  overflow-x : hidden; 
  overflow-y: hidden;
  display:flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient( #e3f2fd, #90caf9);
}

#root{
  width: 100%;
}
